@{
  ViewBag.Title = "Home";
}

<div class="page-header">
  <h1>ASP.NET MVC Demo site <small>showcasing Bootstrap, Knockout and Typescript technologies</small></h1>
</div>

<p class="lead">
  Welcome to the ASP.NET MVC Demo site, below you'll find a small demo that allows you to manipulate a list of person details.
</p>

<p>
  This example uses Twitter Bootstrap for the UI layout, Knockout.JS for the Viewmodel handling and Microsoft's new Typescript engine to allow easy javascript development.
</p>

<p>
  This project is ment to acompny my blog post on using the 3 above technologies in ASP.NET MVC which can be found on my blog at shawtyds.wordpress.com.  If you want the links to everything
  mentioned here, then please click the links menu on the side bar to the left where you'll find a full list.
</p>

<p class="text-warning">
  Please NOTE: none of the data in the example is actually saved, it's all handled by volatile in-memory class library project, the idea is that you replace this with your own
  data sources and object models.  This sample is given to the community as-is and no warranty is given as to it's correctness for any given purpose.
</p>

<hr />

<!-- This is the start of the people list component, knockout looks for -->
<div id="peopleList">

  <h2>Person List &nbsp;&nbsp;&nbsp;&nbsp;<small data-bind="visible: showTable, click: addNewClick" style="display: none;"><a href="#" role="button" class="text-success"><span class="glyphicon glyphicon-plus-sign"></span> Add New Person</a></small></h2>

  <div class="alert alert-danger" data-bind="visible: showAlert" style="display:none;">
    <p>There are no people in the list please &nbsp;&nbsp;&nbsp;&nbsp;<button role="button" class="text-success" data-bind="click: addNewClick"><span class="glyphicon glyphicon-plus-sign"></span> Add A New Person</button></p>
  </div>

  <table class="table table-bordered table-condensed" data-bind="visible: showTable" style="display:none;">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Email Address</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody data-bind="template: {name: 'personTableRow', foreach: peopleData}"></tbody>
  </table>

</div>
<!-- This is the end of the people list component, knockout looks for -->
@section UserScripts
{
  <script type="text/javascript">
    var baseUrl = "@Url.Content("~/")";
  </script>
  <script type="text/javascript" src="@Url.Content("~/scripts/personTable.js")"></script>
}

@section UserDialogs
{
  <!-- Add new record modal dialog -->
  <div class="modal fade" id="dlgEditRecord">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" data-bind="text: DialogTitleText">xx</h4>
        </div>

        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="txtFirstName">First Name</label>
              <input type="text" class="form-control" id="txtFirstName" placeholder="Enter first name" data-bind="value: FirstName">
            </div>
            <div class="form-group">
              <label for="txtSecondName">Second Name</label>
              <input type="text" class="form-control" id="txtSecondName" placeholder="Enter second name/surname" data-bind="value: SecondName">
            </div>
            <div class="form-group">
              <label for="txtEmailAddress">Email Address</label>
              <input type="email" class="form-control" id="txtEmailAddress" placeholder="Enter email address" data-bind="value: EmailAddress">
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" data-bind="click: primaryButtonClick, text: PrimaryButtonText">xx</button>
        </div>

      </div>
    </div>
  </div>
  <!-- End add new record modal -->

  <!-- yes/no modal dialog -->
<div class="modal fade" id="dlgYesNo">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete Confirmation</h4>
      </div>

      <div class="modal-body">
        <p>Are you sure you wish to delete the specified record?</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
        <button type="button" class="btn btn-success" data-bind="click: primaryButtonClick"><span class="glyphicon glyphicon-ok"></span> Yes</button>
      </div>

    </div>
  </div>
</div>
<!-- End add new record modal -->

}

@section UserTemplates
{
  <script type="text/template" id="personTableRow">

    <tr>
      <td data-bind="text: RecordId">#</td>
      <td data-bind="text: FirstName">xx</td>
      <td data-bind="text: SecondName">xx</td>
      <td data-bind="text: EmailAddress">xx</td>
      <td>
        <button class="btn btn-primary btn-sm" data-bind="click: function() { editRecord($parent); }"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
        <button class="btn btn-danger btn-sm" data-bind="click: function() { deleteRecord($parent); }"><span class="glyphicon glyphicon-trash"></span> Delete</button>
      </td>
    </tr>

  </script>
}