@{
  ViewBag.Title = "Home";
}

<div class="page-header">
  <h1>ASP.NET MVC Demo site <small>showcasing Bootstrap, Knockout and Typescript technologies</small></h1>
</div>

<p class="lead">
  Welcome to the ASP.NET MVC Demo site, below you'll find a small demo that allows you to manipulate a list of person details.
</p>

<p>
  This example uses Twitter Bootstrap for the UI layout, Knockout.JS for the Viewmodel handling and Microsoft's new Typescript engine to allow easy javascrip development.
</p>

<p>
  This project is ment to acompny my blog post on using the 3 above technologies in ASP.NET MVC which can be found on my blog at shawtyds.wordpress.com.  If you want the links to everything
  mentioned here, then please click the links menu on the side bar to the left where you'll find a full list.
</p>

<p class="text-warning">
  Please NOTE: none of the data in the example is actually saved, it's all handled by volatile in-memory class library project, the idea is that you replace this with your own
  data sources and object models.  This sample is given to the community as-is and no warranty is given as to it's correctness for any given purpose.
</p>

<hr />

<h2>Person List</h2>
