<ul class="nav nav-list nav-stacked">
  <li class="nav-header">Main Menu</li>
  <li class="active"><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home"></span> Home</a></li>
  <li class="active"><a href="@Url.Action("Links","Home")"><span class="glyphicon glyphicon-link"></span> Links</a></li>
</ul>
